.segment {
  color: white;
  max-width: 50%;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px black;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out; 
  cursor: pointer;
  display: flex;
  background-image: url(./../../img/IMG_5599.JPG);
}

.segment:hover {
  transform: scale(1.03);
}